html {

  background-image: url(hello.png);
  background-size: 150px , 100px;
}

 .login{
  text-orientation: relative;
  text-align: center;
  background-color: lightblue;
  height: 300px;
  width: 500px;
  background-origin: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  
  
}
